
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Search Weather">

    <br>
    <mat-card [ngClass]="isSmallScreen ? 'search-card-small-screen' : 'search-card-large-screen' ">
      <mat-card-header>
        <mat-card-subtitle>Search</mat-card-subtitle>
        <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="search-text-box">
          <mat-label>Enter City Name</mat-label>
          <input matInput type="text" [(ngModel)]="searchTextBox" >
          <button *ngIf="searchTextBox" matSuffix mat-icon-button aria-label="Clear" (click)="searchTextBox=''">
            <mat-icon>close</mat-icon>
          </button>

<!--           
            <mat-error *ngIf="(errorCode$ | async) && (errorMessage$ | async)">
              Error Code: {{ errorCode$ | async }} <br>
              Error Message: {{ errorMessage$ | async }}
              </mat-error> -->

         
        </mat-form-field> &nbsp;
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="getWeatherData()">
          <mat-icon>search</mat-icon>
          Search</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <div *ngIf="refreshIntervalStatus">Refreshing in: {{ formatTime(timeLeft) }}</div>
      </mat-card-actions>
      <mat-card-footer>
        <span *ngIf="(errorCode$ | async) && (errorMessage$ | async)">
          <p> &nbsp;&nbsp;{{ errorMessage$ | async }} ({{ errorCode$ | async }})</p>
         </span>
        <mat-progress-bar mode="indeterminate" *ngIf="weatherDataFetched"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <!-- <div> 
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>City Name</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>  &nbsp;
      <button mat-raised-button color="primary" (click)="getWeatherData()">
        <mat-icon>search</mat-icon>
        Search</button>
      </div> -->
    <br>
    <br><br><br>
    <div *ngIf="weatherDataFetched">

      <mat-grid-list [cols]="cols" [rowHeight]="calculateRowHeight()">
        <mat-grid-tile>

          <mat-card class="info-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Weather in {{weatherData.placeName}}
                  ({{weatherData.weatherSummary.country}})</mat-card-title>
                <mat-card-subtitle> {{weatherData.weatherSummary.main}} ({{weatherData.weatherSummary.description}})
                </mat-card-subtitle>
                
                <img mat-card-md-image src="{{weatherData.weatherSummary.icon}}"
                  alt="Visual representation of temperature">

              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <mat-icon matListItemIcon>thermostat</mat-icon>
              <h2 class="no-line-break">{{weatherData.weatherDetails.temperature}}°C </h2>

              <div class="no-line-break">
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Feels like {{weatherData.weatherDetails.feelsLike}}°C</span></div>
              <img [ngClass]="isSmallScreen ? 'nami-image-small-width' : 'nami-image-large-width'" src="assets/weather.jpg" alt="Nami Image">
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <br>
        <br>
        <br>
        <br>

        <mat-grid-tile>
          <mat-card class="info-card">

            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> More information</mat-card-title>
                <!-- <mat-card-subtitle> Mat card Subtitle</mat-card-subtitle> -->

              </mat-card-title-group>
            </mat-card-header>
<mat-card-content>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon class="material-symbols-outlined">{{iconNames.humidity}}</mat-icon>
                <div matListItemTitle>Humidity</div>
                <div matListItemLine>{{weatherData.weatherDetails.humidity}}</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>compress</mat-icon>
                <div matListItemTitle>Pressure</div>
                <div matListItemLine>{{weatherData.weatherDetails.pressure}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>trending_down</mat-icon>
                <div matListItemTitle>Minimum temperature </div>
                <div matListItemLine>{{weatherData.weatherDetails.temperatureMin}}°C</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>trending_up</mat-icon>
                <div matListItemTitle>Maximum temperature</div>
                <div matListItemLine>{{weatherData.weatherDetails.temperatureMax}}°C</div>
              </mat-list-item>

            </mat-list>
          </mat-card-content>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-card class="info-card">

            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Location and Wind info</mat-card-title>
                <!-- <mat-card-subtitle> Mat card Subtitle</mat-card-subtitle> -->
              </mat-card-title-group>
            </mat-card-header>
<mat-card-content>
            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon>location_on</mat-icon>
                <div matListItemTitle>Latitude</div>
                <div matListItemLine>{{weatherData.location.latitude}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>location_on</mat-icon>
                <div matListItemTitle>Longitude</div>
                <div matListItemLine>{{weatherData.location.longitude}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>air</mat-icon>
                <div matListItemTitle>Wind</div>
                <div matListItemLine>{{weatherData.wind.speed}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>explore</mat-icon>
                <div matListItemTitle>Degree</div>
                <div matListItemLine>{{weatherData.wind.degree}}</div>
              </mat-list-item>

            </mat-list>
          </mat-card-content>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </mat-tab>
</mat-tab-group>