<!--<div>
  <fa-icon [icon]="faCoffee"></fa-icon>
  <i class="fa-solid fa-cloud-sun" style="color: #949fb3;"></i>
  <i class="{{weatherData.weatherSummary.icon}}" style="color: #949fb3;"></i> -->
<!-- <img src="{{weatherData.weatherSummary.icon}}" width="100px" height="100px">
</div> -->

<!-- 
<span class="material-symbols-outlined">
  humidity_mid
  </span> -->

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

  <div>



  </div>
  <mat-tab label="Search Weather">

    <br>

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-subtitle>Search</mat-card-subtitle>
        <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-form-field">
          <mat-label>City Name</mat-label>
          <input matInput type="text" [(ngModel)]="searchTextBox">
          <button *ngIf="searchTextBox" matSuffix mat-icon-button aria-label="Clear" (click)="searchTextBox=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>  &nbsp;
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="getWeatherData()">
          <mat-icon>search</mat-icon>
          Search</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="weatherDataFetched"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>








    <!-- <div> 
      <br>
      <mat-form-field class="example-form-field">
        <mat-label>City Name</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>  &nbsp;
      <button mat-raised-button color="primary" (click)="getWeatherData()">
        <mat-icon>search</mat-icon>
        Search</button>
      </div> -->
    <br>

    <!-- <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Weather in {{weatherData.placeName}}</mat-card-title>
        <mat-card-subtitle>{{weatherData.weatherSummary.description}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{weatherData.weatherSummary.icon}}" alt="Visual representation of temperature" width="100px" height="100px">
      <mat-card-content>
        <p>
          {{weatherData.weatherSummary.main}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card> -->
    <div *ngIf="weatherDataFetched">
      <div *ngIf="refreshIntervalStatus">Refreshing in: {{ formatTime(timeLeft) }}</div>

      <mat-grid-list [cols]="cols" [rowHeight]="calculateRowHeight()">
        <mat-grid-tile custom-align-top>

          <mat-card class="custom-width" style="background-color: rgb(251, 206, 110);">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Weather in {{weatherData.placeName}} ({{weatherData.weatherSummary.country}})</mat-card-title>
                <mat-card-subtitle> {{weatherData.weatherSummary.main}} ({{weatherData.weatherSummary.description}})
                </mat-card-subtitle>
                <img mat-card-md-image src="{{weatherData.weatherSummary.icon}}"
                  alt="Visual representation of temperature" alt="Visual representation of temperature">

              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <mat-icon matListItemIcon>thermostat</mat-icon>
              <h2 class="no-line-break">{{weatherData.weatherDetails.temperature}}°C </h2>

              <p class="no-line-break">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Feels like {{weatherData.weatherDetails.feelsLike}}°C</p>
              <img class="image-margin" src="assets/weather.jpg" alt="My Local Image" style="max-height: 180px;">
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <br>
        <br>
        <br>
        <br>

        <mat-grid-tile custom-align-top>
          <mat-card class="custom-width" style="background-color: rgb(251, 206, 110);">
            <mat-list>
              <div mat-subheader>More information </div>
              <!-- <mat-list-item>
            <mat-icon matListItemIcon>{{iconNames.feelsLike}} </mat-icon>
            <div matListItemTitle>Feels like</div>
            <div matListItemLine>{{weatherData.weatherDetails.feelsLike}}°C</div>
          </mat-list-item> -->
              <!-- <mat-list-item>
            <mat-icon matListItemIcon>thermostat</mat-icon>
            <div matListItemTitle>Temperature</div>
            <div matListItemLine>{{weatherData.weatherDetails.temperature}}°C</div>
          </mat-list-item> -->
              <mat-list-item>
                <mat-icon matListItemIcon class="material-symbols-outlined">{{iconNames.humidity}}</mat-icon>
                <div matListItemTitle>Humidity</div>
                <div matListItemLine>{{weatherData.weatherDetails.humidity}}</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>compress</mat-icon>
                <div matListItemTitle>Pressure</div>
                <div matListItemLine>{{weatherData.weatherDetails.pressure}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>trending_down</mat-icon>
                <div matListItemTitle>Minimum temperature </div>
                <div matListItemLine>{{weatherData.weatherDetails.temperatureMin}}°C</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>trending_up</mat-icon>
                <div matListItemTitle>Maximum temperature</div>
                <div matListItemLine>{{weatherData.weatherDetails.temperatureMax}}°C</div>
              </mat-list-item>

            </mat-list>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile custom-align-top>
          <mat-card class="custom-width" style="background-color: rgb(251, 206, 110);">
            <mat-list>
              <!-- <div mat-subheader>Weather in {{weatherData.placeName}}</div> -->


              <!-- <mat-list-item>
            <mat-card>
              <mat-card-header>
                <mat-card-title>Card 1</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
              </mat-card-header>
               <img mat-card-image src="{{weatherData.weatherSummary.icon}}" width="100px" height="00px" >

              <mat-card-content>
                This is the content of Card 1.
              </mat-card-content>
            </mat-card>
          </mat-list-item> -->

              <div mat-subheader>Location and Wind info</div>
              <mat-list-item>
                <mat-icon matListItemIcon>location_on</mat-icon>
                <div matListItemTitle>Latitude</div>
                <div matListItemLine>{{weatherData.location.latitude}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>location_on</mat-icon>
                <div matListItemTitle>Longitude</div>
                <div matListItemLine>{{weatherData.location.longitude}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>air</mat-icon>
                <div matListItemTitle>Wind</div>
                <div matListItemLine>{{weatherData.wind.speed}}</div>
              </mat-list-item>

              <mat-list-item>
                <mat-icon matListItemIcon>explore</mat-icon>
                <div matListItemTitle>Degree</div>
                <div matListItemLine>{{weatherData.wind.degree}}</div>
              </mat-list-item>

            </mat-list>
          </mat-card>
        </mat-grid-tile>

        <!-- <mat-grid-tile custom-align-top>
        <mat-list>
          <div mat-subheader>Location info</div>
          <mat-list-item>
            <mat-icon matListItemIcon>location_on</mat-icon>
            <div matListItemTitle>Latitude</div>
            <div matListItemLine>{{weatherData.location.latitude}}</div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon matListItemIcon>location_on</mat-icon>
            <div matListItemTitle>Longitude</div>
            <div matListItemLine>{{weatherData.location.longitude}}</div>
          </mat-list-item>

        </mat-list>
      </mat-grid-tile> -->

      </mat-grid-list>
    </div>

  </mat-tab>

  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>