/* styles.css */
/* Define your colors */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

:root {
    --primary-color: #007bff;
    background-color: rgb(248, 237, 217);
  }

.no-line-break
{
  display: inline;
}