/* styles.css */
/* Define your colors */
:root {
    --primary-color: #007bff;
    background-color: rgb(248, 237, 217);
  }
  
  .mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.no-line-break
{
  display: inline;
}
